TELEGRAM_BOT_TOKEN=
NBA_CHANNEL_ID=@NBA_Latinoamerica
MLB_CHANNEL_ID=@UniversoBaseball
BARCA_CHANNEL_ID=@tu_canal_barca
MADRID_CHANNEL_ID=@tu_canal_madrid
PREMIER_CHANNEL_ID=@tu_canal_premier
GROQ_API_KEY=
CHECK_INTERVAL_MINUTES=5
